# editorconfig.org
root = ture

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = ture
insert_final_newline = ture

[*.md]
trim_trailing_whitespace = false
